button {
    background-color: #666666; /* Green */
    border-color: #878787;
    border-width: 3px;
    border-style: solid;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font: "Arial";
    transition-duration: 0.4s;
    z-index: 9;
}
button:hover{
    background-color: #97a69b; /* Green */
    color: white;
}
p{
    font-family: "Arial";
}
div{
    font-family: "Arial";
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #303030;
}
canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
#inventory{
    position:absolute;
    overflow-y:scroll;
    width:200px;
    height:300px;
    float:right;
    background-color:rgba(135, 135, 135, 0.25);
    border-color: #303030;
    border-width: 7px;
    border-style: solid;
    right: 10px;
    top: 10px;
    text-align: right;
}
#crafting{
    position:absolute;
    overflow-y:scroll;
    width:400px;
    height:200px;
    float:right;
    background-color:rgba(135, 135, 135, 0.0);
    border-color: rgba(135, 135, 135, 0.0);
    border-width: 7px;
    border-style: solid;
    right: 10px;
    top: 330px;
    text-align: right;
}
#gameDiv {
    width: 1800px;
    height: 960px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#signDiv {
    width: 750px;
    height: 500px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* background-color: #969696; */
}
#signDiv-username {
    width: 350px;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    border-radius: 10px;
    border-color: #687866;
    border-style: none;
    text-align: center;
    font-size: large;
    background-color: #687866;
}
#signDiv-signIn {
    width: 120px;
    height: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 115px;
    bottom: 0;
    color: white;
    border-radius: 10px;
    border-color: #666666;
    border-style: none;
    text-align: center;
    font-size: large;
    background-color: #666666;
}
#game-title {
    width: 488px;
    height: 88px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 145px;
    image-rendering: pixelated;
}
#credits {
    width: 250x;
    height: 30px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 930px;
    bottom: 0;
    font-size: medium;
    text-align: center;
    color: #8c8c8c;
}
#belowGame { 
    position: absolute;
    z-index: 99 !important; 
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: ghostwhite;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: ghostwhite;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: ghostwhite;
}
::-webkit-scrollbar {
    display: none;
}
::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}