button {
    background-color: #666666; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font: "Arial";
}
p{
    font-family: "Arial";
}
div{
    font-family: "Arial";
}
body {
    background-color: #303030;
}
#gameDiv {
    width: 1800px;
    height: 960px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#belowGame { 
    position: absolute;
    z-index: 99 !important; 
}
::-webkit-scrollbar {
    display: none;
}